# {{ ansible_managed }}

{% for serviceescalation in naemon_serviceescalations %}
define serviceescalation {
{% for key, value in serviceescalation.iteritems() %}
    {{ key }} {{ value }}
{% endfor %}
}

{% endfor %}
